<div id="<%= dom_id group %>">
  <p>

    <%= link_to group.name, group %>
  </p>

  <p>

    <%= image_tag(group.icon, style: "height: 40px; width: 40px;") %>
  </p>

    <p>

    <%= group.payments.reduce(0) { |sum, payment| sum + payment.amount } %>
  </p>

</div>
